.ion-page.show-page{
background:#ffffff;
z-index:1;
}

page-thankyou {

@font-face{font-family:Akkurat-Regular;src:url(../font/akkurat/lineto-akkurat-regular.eot);src:url(../font/akkurat/lineto-akkurat-regular.eot?#iefix) format("embedded-opentype"),url(../font/akkurat/lineto-akkurat-regular.woff) format("woff");font-weight:400;font-style:normal}.cf:after,.cf:before{content:" ";display:table}.cf:after{clear:both}*{box-sizing:border-box}html{font-size:16px;background-color:#fffffe}body{padding:0 20px;min-width:300px;font-family:Akkurat-Regular,sans-serif;background-color:#fffffe;color:#1a1a1a;text-align:center;word-wrap:break-word;-webkit-font-smoothing:antialiased}a:link,a:visited{color:#00c2a8}a:active,a:hover{color:#03a994}.site-header{margin:0 auto;padding:80px 0 0;max-width:820px}.site-header__title{margin:0;font-family:Montserrat,sans-serif;font-size:2.5rem;font-weight:700;line-height:1.1;text-transform:uppercase;-webkit-hyphens:auto;-moz-hyphens:auto;-ms-hyphens:auto;hyphens:auto}.main-content{margin:0 auto;max-width:820px}.main-content__checkmark{font-size:4.0625rem;line-height:1;color:#24b663}.main-content__body{margin:20px 0 0;font-size:1rem;line-height:1.4}.site-footer{margin:0 auto;padding:80px 0 25px;padding:0;max-width:820px}.site-footer__fineprint{font-size:.9375rem;line-height:1.3;font-weight:300}@media only screen and (min-width:40em){.site-header{padding-top:150px}.site-header__title{font-size:6.25rem}.main-content__checkmark{font-size:9.75rem}.main-content__body{font-size:1.25rem}.site-footer{padding:145px 0 25px}.site-footer__fineprint{font-size:1.125rem}}	
	  
.main-content__body a {
    display: block;
	font-size:18px;
}
.menu-content .ion-page.show-page {
    text-align: center;
    margin: 20px 0;
}

h1.site-header__title {
    font-size: 55px;
}

p.main-content__body {
    font-size: 17px;
}


p.main-content__body a {
    font-size: 15px;
    margin: 10px 0;
    color: #1b56e5;
}
a.back-btn {
    padding: 9px 52px;
    background: #2960e6;
    border-radius: 24px;
    text-decoration: none;
    color: #fff !important;
    display: inline-block;
    margin: 20px 0;
    text-transform: capitalize;
    font-weight: 400 !important;
}
#header {
    text-align: center;
}

.main-content {
    text-align: center;
}
}
