<!--
  Generated template for the ThankyouPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<header class="site-header" id="header">
		<h1 class="site-header__title" data-lead-id="site-header-title">THANK YOU!</h1>
	</header>

	
	<div class="main-content">
		<i class="fa fa-check main-content__checkmark" id="checkmark"></i>
		<p class="main-content__body" data-lead-id="main-content-body">Thanks a bunch for filling that out. It means a lot to us, just like you do! We really appreciate you giving us a moment of your time today. Thanks for being you. Please check your email for Login details for access the Mannant Survey website.<a href="http://mannat-survey.firebaseapp.com/#/login/" target="_blank">Visit Us at http://mannat-survey.firebaseapp.com/  </a></p>
		<a (click)="homePagePush()" class="back-btn">back</a>
	</div>

	<footer class="site-footer" id="footer">
		<p class="site-footer__fineprint" id="fineprint">Copyright ©2019 | All Rights Reserved</p>
	</footer>
