page-home {
	.info h4,
	.info h5 {
		text-transform: uppercase
	}
	.btn,
	.content_Sectionn,
	.image_section {
		display: inline-block
	}
	.content {
		margin: 0;
		font-family: 'Open Sans', sans-serif;
		background: #f5f7fa
	}
	.header_outr {
		background: url(../../assets/images/bck.png) no-repeat;
		background-size: 101%;
		height: 665px
	}
	.container {
		max-width: 1200px;
		margin: auto;
		padding: 15px
	}
	.info h4,
	.info h5 {
		color: #fff;
		margin: 0
	}
	.info h5 {
		font-size: 42px;
		font-weight: 400
	}
	.info {
		padding: 52px 0
	}
	.info h4 {
		font-size: 49px
	}
	.info p {
		width: 533px;
		color: #fff;
		text-align: justify;
		margin: 29px 0
	}
	.logo {
		padding: 53px 0
	}
	.image_section {
		width: 49%
	}
	.content_Sectionn {
		width: 50%;
		margin: 0
	}
	.about_Section {
		background: #f5f7fa;
		padding: 54px 0
	}
	.image_section img {
		max-width: 68%
	}
	.content_Sectionn h4 {
		font-size: 42px;
		margin: 0
	}
	.content_Section {
		line-height: 164px
	}
	.content_Sectionn p {
		color: #615f5f
	}
	.btn {
		background: #efab00;
		border-radius: 18px;
		padding: 10px 17px;
		color: #fff;
		font-size: 14px;
		margin: 12px 0;
		text-transform: uppercase;
		text-decoration: none;
		font-weight: 600
	}
	.serv-sec h2,
	.video-inner h4 {
		text-align: center;
		font-size: 37px;
		text-transform: uppercase
	}
	.btn:hover {
		background: #000
	}
	.video_section {
		width: 100%;
		background: no-repeat #f5f7fa;
		background-size: cover;
		position: relative
	}
	.video_section video {
		width: 100%;
		box-shadow: 6px -2px 9px 2px #7573739c;
		max-height: 541px;
		height: auto
	}
	.video_section:after,
	.video_section:before {
		width: 100%;
		height: 100%;
		content: "";
		position: absolute;
		bottom: 0
	}
	.video_section:before {
		background: url(../../assets/images/left-plat.png) 0 96% no-repeat;
		left: 0
	}
	.video_section:after {
		background: url(../../assets/images/right.png) 100% 86% no-repeat;
		right: 0
	}
	.video-inner {
		width: 83%;
		margin: auto;
		z-index: 999;
		position: relative;
		overflow: hidden
	}
	.serv-sec,
	.services_Sec {
		width: 100%;
		display: table
	}
	.video-inner h4 {
		margin: 4px 0 71px
	}
	.services_Sec {
		background: url(../../assets/images/services.png) center;
		margin: 75px auto;
		background-size: cover
	}
	.serv-sec {
		margin: auto
	}
	.contents {
		transform: rotate(-46deg);
		padding: 0 24px;
		margin: -20px
	}
	.service:hover {
		background: #efab00
	}
	.serv-sec h2 {
		margin: 0 0 132px
	}
	.email-left {
		width: 50%;
		float: left
	}
	.email-right {
		width: 49%;
		float: left;
		padding: 55px 0
	}
	.email-right input {
		display: block;
		margin: 16px 0;
		width: 55%;
		border-radius: 9px;
		padding: 5px 11px;
		border: 1px solid #dadada;
		background: 0 0
	}
	.email_Section,
	.footer {
		width: 100%;
		float: left
	}
	.serv-outr,
	.service {
		border-radius: 50%;
		text-align: center
	}
	.email_Section h2 {
		text-align: center;
		font-size: 42px
	}
	.email-right .btn {
		padding: 8px 32px;
		text-transform: uppercase;
		font-size: 17px
	}
	.email-right ::placeholder {
		color: #bfbfbf
	}
	.email-right input:focus {
		outline: 0
	}
	.footer {
		background: #1b56e5;
		padding: 0
	}
	.footer ul {
		margin: 0;
		padding: 0;
		text-align: center
	}
	.footer ul li {
		display: inline-block;
		text-align: center;
		padding: 18px 5px
	}
	.footer ul li img {
		max-width: 53%
	}
	.info h6 {
		color: #fff;
		margin: 19px 0;
		font-size: 23px;
		font-weight: 500
	}
	.serv-outr {
		width: 151px;
		float: left;
		margin: 73px 41px 44px;
		height: 146px
	}
	.content i {
		color: #fff;
		font-size: 52px
	}
	.service {
		height: 144px;
		width: 145px;
		background-color: #1b56e5;
		box-shadow: 1px 1px 10px 4px #cacaca;
		padding: ma
	}
	.services_Sec h2 {
		font-size: 40px;
		text-align: center
	}
	p {
		font-size: 15px;
		font-weight: 400;
		line-height: 22px
	}
	label {
		font-size: 16px;
		margin: 20px 0 30px;
		display: block;
		color: #606061;
		font-weight: 600
	}
	.serv-outr h5 {
		font-weight: 600;
		font-size: 14px;
		text-transform: uppercase;
		margin: 18px 0;
		color: #504f4f
	}
	.email-right input {
		height: 40px
	}
	.email-right input#mc-embedded-subscribe {
		background: #efab00;
		color: #fff;
		display: inline-block;
		text-transform: uppercase;
		width: auto;
		font-weight: 600;
		border-radius: 25px;
		height: 45px
	}
	.email_Section {
		margin: 30px 0 0
	}
	.email-right input#mc-embedded-subscribe:hover {
		background: #000
	}
	.content_Sectionn .btn:hover {
		background-color: #000!important
	}
	button#mc-embedded-subscribe {
		display: inline-block!important;
		width: 152px;
		border-radius: 25px;
		background: #efab00
	}
	.avatar,
	.video-inner iframe {
		width: 100%;
		height: 500px
	}
	.avatar {
		padding: 30px;
		background-color: #eaeaea;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 0 0, 0 0, 120px 0, 120px 40px, 120px 80px, 120px 120px;
		display: table
	}
	.avatar .logo {
		width: 140px;
		background: 0 0, 0 0, 120px 0, 120px 40px, 120px 80px, 120px 120px #dcdcdc;
		min-height: 68px;
		-webkit-animation: shine 1s infinite;
		animation: shine 1s infinite;
		padding: 0;
		background-image: linear-gradient(90deg, #e4e4e4 0, rgba(229, 229, 229, .8) 40px, #e2e2e2 80px)
	}
	.line {
		margin: 23px 0;
		background: 0 0, 0 0, 120px 0, 120px 40px, 120px 80px, 120px 120px #ececec;
		width: 50%;
		height: 27px;
		background-image: linear-gradient(90deg, #e4e4e4 0, rgba(229, 229, 229, .8) 40px, #e2e2e2 80px);
		-webkit-animation: line-shine 1s infinite;
		animation: line-shine 2s infinite
	}
	.paragraph {
		width: 50%;
		height: 150px;
		background: 0 0, 0 0, 120px 0, 120px 40px, 120px 80px, 120px 120px #d8d8d8;
		background-image: linear-gradient(90deg, #e4e4e4 0, rgba(229, 229, 229, .8) 40px, #e2e2e2 80px);
		-webkit-animation: shine 2s infinite;
		animation: shine 2s infinite
	}
	.left-av {
		width: 47%;
		float: left;
		margin-right: 18px
	}
	.right-av {
		width: 50%;
		float: left
	}
	.left-av .av {
		width: 100%;
		background: 0 0, 0 0, 120px 0, 120px 40px, 120px 80px, 120px 120px #dcdcdc;
		height: 288px;
		background-image: linear-gradient(90deg, #e4e4e4 0, rgba(229, 229, 229, .8) 40px, #e2e2e2 80px);
		-webkit-animation: shine 1s infinite;
		animation: shine 2s infinite
	}
	.right-av .line {
		width: 100%;
		margin-top: 0
	}
	.right-av .paragraph {
		width: 100%;
		height: 119px
	}
	
	@media screen and (min-width:720px) and (max-width:992px) {
		.email-left,
		.email-right {
			width: 50%;
			float: left
		}
		.serv-sec {
			width: 50%
		}
		.email-right {
			padding: 53px 33px
		}
	}
	@media screen and (min-width:720px) and (max-width:1200px) {
		.info p {
			width: 50%!important;
			font-size: 14px;
			margin: 10px 0
		}
		.email-left,
		.email-right {
			width: 50%;
			float: left
		}
		.info {
			padding: 15px 0
		}
		.email-right {
			padding: 53px 33px
		}
		.header_outr {
			height: auto!important;
			background-size: cover!important
		}
		.email-right input {
			display: block;
			margin: 16px 0;
			height: 28px;
			width: 100%;
			border-radius: 9px;
			padding: 5px 11px;
			border: 1px solid #dadada;
			background: 0 0
		}
	}
	
}

@media screen and (min-width :320px) and (max-width :767px) {
		.header_outr {
			height: auto!important;
			background-size: cover
		}
		.logo {
			padding: 0
		}
		.logo img {
			max-width: 28%
		}
		.info {
			padding: 15px 33px
		}
		.info h5 {
			font-size: 19px
		}
		.info h4 {
			font-size: 24px
		}
		.info h6 {
			margin: 15px 0 5px;
			font-size: 18px
		}
		.info p {
			width: auto!important;
			font-size: 14px;
			margin: 10px 0
		}
		.content_Section {
			width: 100%
		}
		.image_section {
			width: 100%;
			text-align: center
		}
		.content_Section h4 {
			margin: 20px 0
		}
		.about_Section {
			padding: 20px 0
		}
		.video_section:before,
		page-home .video_section:after {
			display: none
		}
		.services_Sec {
			margin: 20px auto;
			text-align: center
		}
		.email-left {
			width: 100%;
			float: none
		}
		.email-right {
			width: 100%;
			padding: 15px 20px;
			margin: 10px 0
		}
		.email-right input {
			width: 100%;
			height: 37px
		}
		.email-right input#mc-embedded-subscribe {
			background: #efab00;
			color: #fff;
			display: inline-block;
			width: 44%
		}
		.video_section:after {
			display: none
		}
		.serv-outr {
			width: 100%;
			float: none;
			margin: 20px auto 0;
			display: table
		}
		.service {
			margin: auto!important
		}
		.content_Sectionn {
			width: 100%!important
		}
		.content_Sectionn p {
			text-align: justify
		}
	}
	
	
	@keyframes shine {
		0% {
			background-position: -32px
		}
		100%,
		40% {
			background-position: 208px
		}
	}
	@keyframes line-shine {
		0% {
			background-position: -100px
		}
		100%,
		40% {
			background-position: 140px
		}
	}
	@-webkit keyframes shine {
		0% {
			background-position: -32px
		}
		100%,
		40% {
			background-position: 208px
		}
	}
	@-webkit keyframes line-shine {
		0% {
			background-position: -100px
		}
		100%,
		40% {
			background-position: 140px
		}
	}
	